* {
    box-sizing: border-box;
  }

html {
    width: 100%;
}

body {
    color: rgb(252, 250, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background: url(img/bgimg.jpg) no-repeat fixed center ;
    border: 4px solid rgb(241, 241, 238);
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:500px) {
  .container {
    width: 100%;
  }
}


.header {
  width: 100%;
  background: #272E30;
}

.logo {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

.nav li {
  float: left;
  align-self: center;
}

.nav li > a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.nav li > a:hover:not(.active) {
  background-color: #cab3b3;
}

.active {
  background-color: #60a3b8;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border-radius: 7px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0;
}

.heading {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  padding: 14px;
  color: rgb(236, 213, 10);
  line-height: 1.1;
}

.sub-title {
  padding: 14px;
  margin: 12px 0 25px;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

.footer {
  height: 200px;
}

.item-foot {
  width: 30%;
  float: left;
}

.item-foot > ul {
  list-style-type: none;
  margin-left: -30px;
}

