html {
  font-family: sans-serif;
  font-size: 62.5%;
  outline: none;
}

body  {
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  background: url(img/bg.jpg) no-repeat center center fixed;

}

.homepage {
  background-size: cover;
}

.container {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.logo {
  float: left;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 30px;
}

.nav {
  list-style-type: none;
}

.nav a {
  background-color: #dddddd;
  display: block;
  color: blue;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.nav > li {
  position: relative;
  display: block;
  float: left;
}

li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

section {
  clear: both;
  padding-bottom: 84px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border-radius: 7px;
  cursor: pointer;
  text-transform: none;
  margin: 0;
}


.heading {
  margin: auto;
  width: 50;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 14px;
  color: white;
  line-height: 1.1;
}

.sub-title {
  padding: 14px;
  margin: 12px 0 25px;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

.cash-money {
  background: url(img/bgclass.jpg) center cover no-repeat;
  padding: 100px; 
}

.money {
  font-size: 200px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gold;
}

.item-foot {
  width: 25%;
  float: left;
}

.item-foot > ul {
  list-style-type: none;
  margin-left: -30px;
}

.item-foot .title {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.1;
}

.logo-foot {
  font-size: 38px;
  font-weight: lighter;
  text-decoration: none;
  background: transparent;
}

#about-us {
  background: url(img/testimonial.jpg) center cover no-reoeat fixed;
  padding: 120px 0;
}